* {
  margin: 0;
  padding-top: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/Assets/images/black\ meal.jpg"); /* Replace with the path to your image */
  background-repeat: no-repeat; /* Ensures the image does not repeat */
  background-size: cover; /* Scales the image to cover the entire element */
  background-position: center; /* Centers the image within the element */
  color: white;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 80px;
  background-color: black;
  padding-inline: 60px;
  position: fixed;
  width: 100%;
}

nav div ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}

nav div ul li {
  display: inline;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
}

nav div ul li:hover {
  color: white;
}

.input_space {
  padding-top: 100px;
  padding-left: 20px;
  padding-bottom: 40px;
}

main {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.about {
  display: block;
  background-color: blue;
  color: red;
  text-align: center;
  width: 50%;
  border-style: dotted;
}
